*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100dvh;
    display: flex;
}
.navbar{
    width: 20%;
    height: 100%;
    background-color: rgba(0, 72, 149, 0.756);
    display:block;
    border-radius: 0;
}
.content{
    width: 80%;
    height: 100%;
}
.menutop{
    width: 100%;
    height: 5%;
    justify-items:flex-end;
    padding-right: 1%;
    display: flex;
    text-align: center;
    justify-content: right;
}
.manage{
    width: 100%;
    height: 95%;
}
.usermanage{
    width: 100%;
    height: 100%;
}
.productmanage{
    width: 100%;
    height: 100%;
    padding-top: 1%;
    justify-items: center;
}
.settingsmanage{
    width: 100%;
    height: 100%;
}
.topPart{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}
.error{
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.image{
    width: 25%;
    height: auto;
}
.text{
    text-align: center;
}
.nav{
    width: 100%;
}
.nav-link{
    color: white;
    text-decoration: none;
    width: 100%;
}
.nav-link.active{
    background-color: rgba(255, 255, 255, 0.884);
    border-left: 5px solid;
    color: #1e99e0;
}
.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.658);
    color: #1e99e0;
}
.logOut{
    width: 100%;
    height: 5%;
}
.logo{
    width: 100%;
    height: 40%;
    align-content: center;
}
.mainNav{
    width: 100%;
    height: 55%;
}
.btnStrNW{
    color: white;
    text-decoration: none;
}
.logoimg{
    height: auto;
    width: 80%;
    border-radius: 25%;
}
.pp{
    padding-top: 0.5%;
    height: 99%;
    width: auto;
    margin-left: 1%;
}
.pps{
    padding-top: 0.5%;
    height: 99%;
    width: auto;
    margin-left: 1%;
    margin-right: 2%;
}
.Name{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 0.5%;
}
.icon{
    width: 8%;
    height: 8%;
    margin-right: 1%;
}
.tb{
    width: 95%;
    height: auto;
    max-height: 95%;
}